<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>
    E-Commerce
</h1>
<nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/products}">Products</a>
    <a th:href="@{/cart}">cart</a>
    <a th:href="@{/register}">register</a>
    <a th:href="@{/login}">login</a>
    <a th:href="@{admin}">Admin</a>
<!--    <a href="/admin/add-product">adminAdd</a>-->
<!--    <a href="/admin/delete-product">adminDelete</a>-->
</nav>
<h2>Welcome to E-Commerce</h2>
</body>
</html>