<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
<h2>All Products</h2>

<input type="text" placeholder="Search Products....">
<button>Search</button>
<hr>

<div>
    <h3>Mobile</h3>
    <p>Price : 15000</p>
    <P>Delivery : 3 Days</P>
    <button>Add to cart</button>
</div>

<hr>
<div>
    <h3>Laptop</h3>
    <p>Price : 15000</p>
    <P>Delivery : 3 Days</P>
    <button>Add to cart</button>
</div>

<hr>

<div>
    <h3>CPU</h3>
    <p>Price : 15000</p>
    <P>Delivery : 3 Days</P>
    <button>Add to cart</button>
</div>

</body>
</html>