<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
<h2>All Products</h2>

<h2>All products</h2>


<form action="/products" method="get">
    <input type="text" name="keyword" placeholder="Search Product...">
    <button type="submit">Search</button>
</form>

<hr>
<div>
    <div th:each="product:${products}" style="border:1px solid black; padding:10px; margin:10px;">
        <strong th:text="${product.name}"></strong><br>
        <span th:text="${product.description}"></span><br>
        <span th:text="${product.price}"></span>
        <br>
        Stock: <span th:text="${product.quantity}"></span><br><br>

        <button>Buy Now</button>
        <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>

</body>
</html>

